{% extends "myapp/headernav.html" %}
{% block style %}
{% load ratings %}
{%load staticfiles%}
    <link href="{% static 'css/documentary.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Search" type="submit">
          </form>
        </div>
<!--         <div class="header-image">
        <img src='../static/navbar.png'>
        </div> -->
        <!-- List of uploaded documents -->
        <div class="documentaries">
        <div class="container">
            <h2>Documentaries</h2>
            
            {% if documents %}
                <ul class="document-list">
                    {% for document in documents %}
                    
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.id}}">
                            <img src= "{{ document.thumbnail }}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <!-- <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div> -->
                            
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
            </div>
            <div class="end-padding">
            </div>
        </div>

    </body>
{% endblock %}
