<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

        <title>TigerCinema</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">



    <!-- Bootstrap Core CSS -->
   

    <!-- Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,400i" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/headernav.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    {% block style %}
    {% endblock %}


    </head>
    <div id="entire-page">
    <body>
        <!-- Javascript for dropdown menu -->
        <script type="text/javascript">
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                  if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                  }
              }
            }
        </script>
        
        <div class="nav">
            <div class="nav-container">

                <ul class="pull-left">
                    <div class="TigerCinema">
                    <li id="left-bar"><a href={% url 'homepage'%}>TigerCinema</a></li>
                    </div>
                </ul>
                <div class="pull-right">
                    <a href={%url 'homepage'%}>All Movies</a>
                    <a href={%url 'documentary'%}>Documentaries</a>
                    <a href={%url 'narrative'%}>Narratives</a>
                    <a href={%url 'uploadform'%}>Upload Your Work</a>
                        <div class="dropdown">
                          <button onclick="myFunction()" class="dropbtn">{{netid}}</button>
                          <div id="myDropdown" class="dropdown-content">
                            <a href={%url 'cas_ng_logout'%}>Logout</a>
                            <a href="#">{{netid}}</a>
                          </div>
                        </div>

                </div>
            </div>
        </div>
        
        {% block content %}
       {% endblock %}
    </body>
    </div>
        
</html>
