{% extends "myapp/headernav.html" %}
{% block style %}
<!-- Load django-star-ratings, load static files -->
{% load ratings %}
{% load staticfiles %}

<!-- Custon CSS -->
<link href="{% static 'css/homepage.css'%}" rel="stylesheet">

<!-- CSS and Javascript for star ratings -->
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
    <!--Top movies -->
    <div class="topmovies">
        <div class="bigtitle">
            <h1>TigerCinema</h1>
            <h2>Princeton student-made film sharing platform</h2>
        </div>
        <!-- Top movies container -->
        <div class="container">
            <h2>Top movies</h2>
            {%load staticfiles%}
            {% if documents %}
                <ul class="document-list">
                    {% for document in rateddocuments %}
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.pk}}">
                                <img src= "{{ document.thumbnail }}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <!-- Star rating icon -->
                            <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div>                            
                        </div>
                        </li>               
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
        </div>
    </div>

    <!-- All movies -->
    <div class="allmovies">
        <!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>

        <!-- All movies listing -->
        <div class="container">
            <h2>All movies</h2>
            {%load staticfiles%}
            {% if documents %}
            <div class="parent">
                <ul class="document-list">
                    {% for document in documents %}
                    
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.pk}}">
                            <img src= "{{ document.thumbnail }}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div>                        
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>No documents.</p>
            {% endif %}
        </div>
    </div>

    </body>
{% endblock %}
