{% extends "myapp/headernav.html" %}
{% block style %}
{% load ratings %}
{%load staticfiles%}
    <link href="{% static 'css/homepage.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
                   <script type="text/javascript">
                        document.getElementById('video').addEventListener('loadedmetadata', function() {
                                this.currentTime = 5;
                                }, false);
                   </script>
{% block content %}
<!--         <div class="header-image">
        <img src='../static/navbar.png'>
        </div> -->
        <!-- List of uploaded documents -->
    <div class="topmovies">
        <div class="bigtitle">
            <h1>TigerCinema</h1>
            <h2>Make a film. Share with your peers.</h2>
        </div>
        <div class="container">
            <h2>Top movies</h2>
            {%load staticfiles%}
            {% if documents %}
                <ul class="document-list">
                    {% for document in rateddocuments %}
                        <li>

                        <div class="movie-container">
                            <a href="../play/{{document.id}}">
                                <img src="{% static 'filmpic.jpg'%}}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
<!--                             <div class="document-author">
                                <p> {{document.fname}} {{document.lname}} </p>
                            </div> -->
                            <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div>
                            
                            
                        </div>
                        </li>               
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
        </div>
    </div>

    <div class="allmovies">
        <!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
        <div class="container">
            <h2>All movies</h2>
            {%load staticfiles%}
            {% if documents %}
            <div class="parent">
                <ul class="document-list">
                    {% for document in documents %}
                    
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.id}}">
                            <img src="{% static 'filmpic.jpg'%}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div>
                            <!-- delete button -->
                            <div class="delete">
                            <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="docfile" value="{{ document.pk }}" />
                            <input type="submit" value="Delete" />
                            </form>
                            </div>
                           
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <p>No documents.</p>
            {% endif %}
        </div>
    </div>

    </body>
{% endblock %}
