{% extends "myapp/headernav.html" %}
{% block style %}
<!-- Load django-star-ratings, load static files -->
{% load ratings %}
{% load staticfiles %}
<!-- Custon CSS -->
<link href="{% static 'css/documentary.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
        <!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Search" type="submit">
          </form>
        </div>
        {%load staticfiles%}
        <!-- List all uploaded movie by this user -->
        {% if documents %}
        <div class="documentaries">
            <div class="container">
                <ul class="document-list">
                <h2>My movies</h2>
                    {% for document in documents %}
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.pk}}">
                            <img src= "{{ document.thumbnail }}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <!-- delete button -->
                            <div class="delete">
                                <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="docfile" value="{{ document.pk }}" />
                                <input type="submit" value="Delete" />
                                </form>
                            </div>
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
                </div>
                <div class="end-padding"></div>
        </div>
        {% else %}
        <!-- Display image if no movies uploaded -->
        <div class="container">
            <div class="nothing">
            <h2>You have uploaded 0 movies</h2>
            <img src="{% static 'walle.png'%}" alt="walle">  
            </div>
        </div>
        {% endif %}


    </body>
{% endblock %}