{% extends "myapp/headernav.html" %}
{% block style %}
{% load ratings %}
{%load staticfiles%}
    <link href="/static/css/narrative.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
<!--         <div class="header-image">
        <img src='../static/navbar.png'>
        </div> -->
        <!-- List of uploaded documents -->
        <div class="narratives">
        <div class="container">
            <h2>Narratives</h2>
            {% if documents %}
                <ul class="document-list">
                    {% for document in documents %}
                    S
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.id}}">
                            <img src="{% static 'thumbnails/'%}{{document.thumbnail}}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title}} </p>
                            </div>
                            <div class="document-author">
                                <p> {{document.fname}} {{document.lname}} </p>
                            </div>
                            
                            <!-- delete button -->
                            <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="docfile" value="{{ document.pk }}" />
                            <input type="submit" value="Delete" />
                            </form>
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents.</p>
            {% endif %}
            </div>
        </div>

    </body>
{% endblock %}
