
{% extends "myapp/headernav.html" %}
{% block style %}
    <link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{%load staticfiles%}
	{% if video %}
		{% for v in video %}
		<ul>
			<div class="document-list">
				<form action="{% url 'play' %}" method="get" enctype="multipart/form-data">
					<li><video width="600" height="600" controls><source src="{{ v.docfile.url }}" type="{{ v.content_type }}" controls> Your browser does not support the video tag.</video></li>
				</form>
			</div>
			<div class="document-title">
                    <p> {{V.title}} </p>
                </div>
                <div class="document-author">
                    <p> {{v.fname}} {{v.lname}} </p>
                </div>
                
                <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="docfile" value="{{ v.pk }}" />
                <input type="submit" value="Delete" />

                </li>
                <p> {{v.description}} </p>
                          {% endfor %}
        </ul>

	{% else %}
      <p>No videos.</p>
    {% endif %}

{% endblock %}