
{% extends "myapp/headernav.html" %}
{% block style %}
    <link href="/static/css/play.css" rel="stylesheet">
  <style type = "text/css">

    video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
</style>

{% endblock %}

{% block content %}
<div class="allinfo">
	{%load staticfiles%}
	{% if video %}
		{% for v in video %}
			<div class="video-container">
					<video id="video" width="640" height="365" controls>
                        <source src="{{ v.docfile.url }}" type="{{ v.content_type }}" controls>
                        <p>Your browser does not support the video tag.</p>
                    </video>
			</div>
            <div class="document-title">
                <p> {{v.title}} </p>
            </div>
            <div class="document-author">
                <p> {{v.fname}} {{v.lname}} </p>
            </div>
            <div class="document-description">
                <p> {{v.description}} </p>
            </div>

        {% endfor %}

	{% else %}
      <p>No videos.</p>
    {% endif %}
</div>
{% endblock %}