{% extends "myapp/headernav.html" %}
{% block style %}
{%load staticfiles%}
{% load ratings%}
    <link href="{% static 'css/documentary.css' %}" rel="stylesheet">
}
{% endblock %}

{% block content %}
        <!-- Search button -->
        <div id="wrap">
          <form action="{%url 'search' %}" method ="get" accept-charset="utf-8" autocomplete="off">
          <input id="search" name="search" type="text" placeholder="Search..."><input id="search_submit" value="Search" type="submit">
          </form>
        </div>
<!--         <div class="header-image">
        <img src='../static/navbar.png'>
        </div> -->
        <!-- List of uploaded documents -->
 
            {%load staticfiles%}
            {% if documents %}
            <div class="documentaries">
            <div class="container">
                <ul class="document-list">
                <h2>Search Results</h2>
                    {% for document in documents %}
                        <li>
                        <div class="movie-container">
                            <a href="../play/{{document.id}}">
                            <img src="{% static 'filmpic.jpg'%}" alt="{{document.title}}" style="width:260px; height:160px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title|stringformat:'.30s'}} </p>
                            </div>
                            <div class="ratings">
                                {% ratings document icon_height=15 icon_width=15%}
                            </div>
                            
                            
                        </div>
                        </li>                
                    {% endfor %}
                </ul>
                </div>
                </div>
            {% else %}
            <div class="container">
                <div class="nothing">
                <h2>Nothing found :(</h2>
                <img src="{% static 'walle.png'%}" alt="walle">
                    
                </div>
            </div>
            {% endif %}


    </body>
{% endblock %}