{% extends "myapp/headernav.html" %}
{% block style %}
    <link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--         <div class="header-image">
        <img src='../static/navbar.png'>
        </div> -->
        <!-- List of uploaded documents -->

        {%load staticfiles%}
            {% if documents %}
                <ul class="document-list">
                    {% for document in documents %}
                        <li>
                        <div class="movie-container">
                            <a href="{{ document.docfile.url }}">
                            <img src="{% static 'thumbnails/'%}{{document.thumbnail}}" alt="{{document.title}}" style="width:240px; height:180px;">
                            </a>
                            <div class="document-title">
                                <p> {{document.title}} </p>
                            </div>
                            <div class="document-author">
                                <p> {{document.fname}} {{document.lname}} </p>
                            </div>
                            
                            <!-- delete button -->
                            <form action="{% url 'delete' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="docfile" value="{{ document.pk }}" />
                            <input type="submit" value="Delete" />
                            </form>
                        </div>
                        </li>
<!--                 <p> {{document.description}} </p>
 -->                
                    {% endfor %}
                </ul>
            {% else %}
            <div class="nothing">
            <h2>^</h2>
            <h2>Nothing found :(</h2>
            <img src="/../static/walle.png" alt="walle">
                
            </div>
            {% endif %}

            
        </div>

    </body>
{% endblock %}