{% extends "myapp/headernav.html" %}
{% block style %}
{% load static from staticfiles %}
    <link href="{% static 'css/uploadform.css'%}" rel="stylesheet">
}
{% endblock %}

{% block content %}
{{ form.media }}
        <div class="fullpage">
            <div class="container">
            <div class="walle">
                <img src="{% static 'walle2.png' %}" alt="walle">
            </div>
                    <!-- Upload form. Note enctype attribute! -->
                <div class="upload-form">

                    <form action="{% url "uploadform" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>

        <!--                 <p>{{ form.docfile.label_tag }}</p>
                        <p>{{ form.docfile.help_text }}</p> -->

                        <p>
                            {{ form.docfile.errors }}
                            <div id="label">{{ form.fname.label_tag}}</div>
                            <div id="fname">{{ form.fname}}</div>
                            <div id="label">{{ form.lname.label_tag}}</div>
                            <div id="lname">{{ form.lname}}</div>
                            <div id="label">{{ form.choice.label_tag}}</div>
                            <div id="choice">{{form.choice}}</div>
                            <div id="label">{{ form.title.label_tag}}</div>
                            <div id="title">{{ form.title}}</div>
                            <div id="label">{{ form.description.label_tag}}</div>
                            <div id="description">{{form.description}}</div>
                            <div id="label"> {{ form.docfile.label_tag}}</div>
                            <div id="reminder">Please don't click the upload button before the progress bar is full</div>
                            <div id ="thumbnail"> Please upload an image for your film: {{form.thumbnail}} </div> 
                            <div id="docfile">Please upload your film{{form.docfile}}</div>
                        </p>

                        <p><input type="submit" value="Upload"/></p>
                    </form>
                </div>
            </div>
        </div>
{% endblock%}





