.container {
  max-width: 1200px;
  margin: 0 auto;
}

.topmovies {
  text-align: center;
  background: url("../holder3.png") no-repeat center center;
  background-size: cover;
  height: 820px;
}

.allmovies {
	background-color: #EFEFEE;
}
.bigtitle {
	position: relative;
	top: 230px;
}

.bigtitle h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: white;
	text-shadow: 5px 5px 10px black;
}

.bigtitle h2{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
	color: white;
	text-shadow: 3px 3px 5px black;
}

.topmovies .container {
	background-color: rgba(255,255,255,0.5);
	border: 2px solid grey;
	border-radius: 10px;
	height: 330px;
  	position: relative;
  	top: 320px;
}

.container h2 {
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

.document-list {
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding-right: 40px;
}

.parent {
	height: 100%;
	width: 100%;
	padding: 0px 0px;
	overflow: hidden;
}

.topmovies .document-list {
	height: 240px;
}


.document-list li {
	display: inline-block;
    white-space: nowrap;
}


.document-title p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
}

.document-author p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	line-height: 6px;
	text-transform: uppercase;
	text-align: center;
}

.ratings {
	text-align: center;
	height: 25px;
	overflow: hidden;
}

.movie-container {

	background-color: #FFF;
	border: 1px solid #CCC;
	width:290px;
	height: 230px;
	margin:5px;
	padding: 12px;	
}

.movie-container img {
	opacity: 0.8;
	border: 1px solid #eee;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.1)));

}

.movie-container img:hover {
	opacity:1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.25)));
 
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.nothing img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    width:30%;
}


.nothing h2 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

#wrap {
  margin: 25px 100px;
 }
