.container {
  max-width: 1200px;
  margin: 0 auto;
}

.topmovies {
  text-align: center;
  background: url("../holder3.png") no-repeat center center;
  background-size: cover;
  height: 820px;
}

.allmovies {
	background-color: #EFEFEE;
}
.bigtitle {
	position: relative;
	top: 230px;
}

.bigtitle h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 7px;
	color: white;
	text-shadow: 5px 5px 10px black;
}

.bigtitle h2{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
	color: white;
	text-shadow: 3px 3px 5px black;
}

.topmovies .container {
	background-color: rgba(255,255,255,0.5);
	border: 2px solid grey;
	border-radius: 10px;
	height: 330px;
  position: relative;
  top: 320px;
}

.container h2 {
	text-align: left;
	text-shadow: 3px 3px 5px grey;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

.document-list {
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding-right: 40px;
}

.parent {
	height: 100%;
	width: 100%;
	padding: 0px 0px;
	overflow: hidden;
}

.topmovies .document-list {
	height: 250px;
}

/*.allmovies .document-list {
	height: 700px;
}*/

.document-list li {
	display: inline-block;

    /*vertical-align: middle;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;*/
    white-space: nowrap;
}


.document-title p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
}

.document-author p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	line-height: 6px;
	text-transform: uppercase;
	text-align: center;
}

.ratings {
	text-align: center;
}

.movie-container {

	background-color: #FFF;
	border: 1px solid #CCC;
	width:290px;
	height: 230px;
	margin:5px;
	padding: 12px;	
}

.allmovies .movie-container img {
	opacity: 0.8;
	border: 1px solid #eee;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.1)));

}

.allmovies .movie-container img:hover {
	opacity:1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.25)));
 
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

.nothing img {
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    width:30%;
}


.nothing h2 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

#wrap {
  margin: 25px 100px;
 }

/*.effect-container{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
}

.effect-container .effect{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.effect-container .effect:hover .caption{
	opacity: 1;
}

.effect-container .effect:hover img{
	opacity: 1;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}


.effect-container img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}

.effect-container .effect{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}

.effect-container img{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.effect-container .blur{
	background-color: rgba(0,0,0,0.65);
	height: 160px;
	width: 260px;
	z-index: 5;
	position: absolute;
}

.effect-container .caption-text h1{
	text-transform: uppercase;
	font-size: 20px;
}

.effect-container .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 160px;
	height: 260px;
	text-align: center;
	top:100px;
}*/