body {
	background-color: #EFEFEE; 	
	margin: 0;
  	padding: 0px 50px;
}

.document-list {
	box-sizing: border-box;
	padding: 70px 0px;
}


.document-list li {
	display: inline-block;

    /*vertical-align: middle;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;*/
    white-space: nowrap;
}

.document-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
}

.document-author {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	line-height: 6px;
	text-transform: uppercase;
	color: #696969;
}


.movie-container {
	background-color: #FFF;
	border: 1px solid #CCC;
	width:270px;
	height: 250px;
	margin:5px;
	padding: 12px;	
}

.movie-container img {
	opacity: 0.8;
	border: 1px solid #eee;

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.1)));

}

.movie-container img:hover {
	opacity:1;
	/*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.25)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}




