.fullpage {
	background-color: #EFEFEE;
	min-height: 800px;
}

.video-container {
	width: 880px;
	height: 510px;
	position: relative;
	margin: 0 20px;
	top: 80px;
/*	border: 5px double grey;
*/
}
.info-container {
	width: 680px;
	position: relative;
	margin: 0 20px;
	top: 80px;
}

.document-author {
	height: 30px;
	width: 880px;
	padding-bottom: 5px;
	border-bottom: 1px solid grey;
}

.document-description {
	position: relative;
	top: 5px;
	width: 880px;
	padding-bottom: 5px;
/*	border-bottom: 1px solid grey;
*/	line-height: 40px;
}

.ratings {
	position: relative;
	top: 5px;
	height: 20px;
	overflow: hidden;
}
h2 {
	text-align: left;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
	text-transform: uppercase;
	line-height: 20px;
}

h3 {
	text-align: left;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
	text-transform: uppercase;
	color: grey;
	line-height: 20px;
}

p {
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 300;
    text-align: left;
}

.ratings p {
	font-weight: 400;
	line-height: 30px;
}

.recommender {
/*	border: 5px solid black;
*/	position: fixed;
	top: 80px;
	overflow: scroll;
}
.recommender p {
	margin-left: 50px;
	font-size:25px;
	line-height: 20px;
}
.recommender img{
	margin: 5px 5px;
	border-radius: 50%;
	border: 2px double orange;
}

.end-padding {
	height: 100px;
	width:100%;
}

li {
	display: inline-block;
}