
.fullpage {
  text-align: left;
  background-color: #EFEFEE;
  height: 900px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
/*background-color: rgba(255,255,255,0.5);
*//*	border: 2px solid grey;
	border-radius: 10px;*/
	height: 700px;
  position: relative;
  top: 60px;
}

.container h2 {
  text-align: left;
/*  text-shadow: 3px 3px 5px grey;
*/  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.fieldWrapper {
  left: 0;
  position: relative;
  padding: 10px;
  top: 55px;
  width: 100%;
  display: block;
}

.upload-form {
/*	border: 2px dashed black;
*/	border-radius: 10px;
	box-sizing: border-box;
	padding: 30px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  display: block;
  z-index:0;
}

#label {
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px 3px white;
}

#reminder {
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  text-shadow: 2px 2px 3px white;
}

.camera img {
    position: absolute;
    margin: auto;
    height: 120%;
    top: 130px; bottom:0; left: 430px; right:0;
    width:40%;
}

