
.fullpage {
  text-align: left;
  background-color: #EFEFEE;
  height: 900px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
/*background-color: rgba(255,255,255,0.5);
*//*	border: 2px solid grey;
	border-radius: 10px;*/
	height: 700px;
  position: relative;
  top: 60px;
}

.fieldWrapper {
  left: 0;
  position: relative;
  padding: 10px;
  top: 55px;
  width: 100%;
  display: block;
}

.upload-form {
/*	border: 2px dashed black;
*/	border-radius: 10px;
	box-sizing: border-box;
	padding: 30px;
  left: 0;
  position: relative;
  top: 30px;
  width: 100%;
  display: block;
  z-index:0;
}

#label {
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px 3px white;
}

#reminder {
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  text-shadow: 2px 2px 3px white;
}

.camera img {
    position: absolute;
    top: 70px; bottom:0; left: 300px; right:0;
    margin: auto;
    width:21%;
    height: 120%;
}

